/* ========================================== 
             CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
============================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ================================= 
          End of CSS Reset
==================================== */

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  margin: 0 auto;
}

/* ================================= 
            Landing
==================================== */

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url(images/background.jpg) no-repeat center fixed;
  background-position: top;
}
.title-container {
  font-size: 2em;
}
.title-container h1{
  font-family: 'Flamenco', cursive;
  font-weight: 300;
  margin-bottom: 10px;
}
.title-container h3{
  font-family: 'Chaparral Pro', 'Times New Roman';
  /*font-weight: 300;*/
  font-style: italic;
}

/* ================================= 
              Rover
==================================== */

.rover {
  display: flex;
  width: 80%;
  /*padding: 20px;*/
  border: solid 1px red;
  margin: 50px auto;

}

.rover-image {  
  float: left;
  text-align: center;
  border: solid 1px orange;
  padding: 15px;
}
.rover-image h4{  
  font-size: 1.6em;
  font-family: 'PT Mono', monospace;
}

.rover-image img {
  height: 175px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 45px;
}

.rover-text {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.40em;
  padding: 50px;
  margin-left: 40px;
  float: left;
  border: solid 1px green;
}
.rover-text p.small-text {
  margin-top: 20px;
  font-size: 0.8em;
}

.rover-text button {
  font-family: 'Chaparral Pro', 'Times New Roman';
  font-size: 0.9em;
  /*padding: 5px;
  border-radius: 10px;
  background-color: #fff;*/
  margin-top: 40px;
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #000;
  /*font-size: 20px;*/
  background: #fff;
  padding: 10px 20px 10px 20px;
  border: solid #000 1px;
  text-decoration: none;
}

.rover-text button:hover {
  /*background: #c5cdd1;*/
  /*background: #DCE3E9;*/
  background: #F2F1F6;

  text-decoration: none;
}

.pre-block {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background: url(images/background.jpg) no-repeat center fixed;
}

/* ================================= 
          Skills
==================================== */
h5 {
  margin-top: 5px;
}

/* Main Skills*/

.main-skills-container {
  display: flex;
  justify-content: center;
  /*border: 2px solid violet;*/
}
.main-skills {
  text-align: center;
  padding: 15px;
  margin: 0 30px;
  /*border: 2px solid cyan;*/
}
.main-skills img {
  height: 100px;
  width: 100px;
  /*border: 2px solid pink;*/
}

/* Other Skills */

.other-skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  /*border: 2px solid green;*/

}
.other-skills {
  text-align: center;
  margin:10px 0;
  width: 25%;
  /*border: 2px solid cyan;*/
}
.other-skills img{
  height: 85px;
  width: 85px;
  /*border: 2px solid pink;*/
}

/* ================================= 
              Blog
==================================== */

.blog {
  display: flex; 
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  border: solid 1px red;
}

.blog-image {  
  float: left;
  height: 300px;
  border: solid 1px orange;
}

.blog-image img {
  margin-top: 50px;
  height: 200px;
  border-radius: 15px;
}

.blog-text {
  text-align: center;
  padding: 50px;
  line-height: 1.4em;
  float: left;
  border: solid 1px green;
}

.blog-text h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.blog-text p {
  margin-bottom: 10px;
}

/* ================================= 
              Bio
==================================== */

.bio {
  display: flex; 
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  border: solid 1px red;
}

.bio-image {  
  float: left;
  height: 300px;
  border: solid 1px orange;
}

.bio-image img {
  margin-top: 50px;
  height: 300px;
  border-radius: 15px;
}

.bio-text {
  text-align: center;
  padding: 50px;
  line-height: 1.4em;
  float: left;
  border: solid 1px green;
}

.bio-text h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.bio-text p {
  margin-bottom: 10px;
}

/* ================================= 
              Footer
==================================== */

.footer {
  /*height: 100px;*/
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 10px;
  /*border: 1px solid cyan;*/
}
.social {
  /*border: 1px solid maroon;*/
}
.social img {
  height: 40px;
  margin: 0 10px; 
}
.credit-container {
  float: right;
  margin: 5px; 
}

